*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font: var(--title-xxl);
}

h2 {
    font: var(--title-xl);
    color: var(--gray-0);
}

h3,
.form__label {
    font: var(--title-l);
    color: var(--gray-0);
}

p,
li,
.form__input::placeholder,
.form__input:focus{
    font: var(--texte);
    color: var(--gray-0);
    line-height: 150%;
}

.text-s {
    font: var(--texte-s);
    color: var(--gray-0);
}

a {
    text-decoration: none;
    font: var(--button);
    color: var(--gray-0);
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
}

.container{
    padding: 20px;
}
.content article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.link__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--green-light);
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    font: var(--button);
    font-family: var(--roboto);
    letter-spacing: 2px;
}