.content article img {
    height: 100px;
}

.link__btn img {
    height: 32px !important;
}

.menu__logo {
    height: 50px;
}

.content__entete{
    overflow: hidden;
    width: 100vw;
    height: auto !important;
}