:root {
    /* color */
    --gray-0: #202427;
    --gray-10: #f2f2f2;
    --gray-5: #8c8d88;
    --green-dark: #6c733d;
    --green-light: #ccd97d;

    /* font */
    --rajdhani: "Rajdhani", sans-serif;
    --roboto: "Roboto", sans-serif;

    /* font style */
    /* font-style | font-variant | font-weight | font-size | line-height | font-family. */
    --title-xl: 800 2rem var(--rajdhani);
    --title-l: 600 1.5rem var(--rajdhani);
    --texte: 0.875rem var(--roboto);
    --texte-s: italic 200 0.75rem var(--roboto);
    --button: 600 0.875rem var(--roboto);
  }