.billetterie__liste {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.billetterie__item {
    width: 30vw;
    height: 225px;
    background-color: var(--gray-0);
    border-radius: 10px;
}

.billetterie__card {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h3,
    p {
        color: var(--gray-10);
        text-align: center;
    }
}

.billetterie__link {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--green-light);
    border-radius: 10px;
    padding: 10px 0;
    text-transform: uppercase;
}