.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu__btn {
    position: relative;
    height: auto;
    width: 30px;
}

.menu__btn-bar,
.menu__btn-bar::before,
.menu__btn-bar::after{
    content: "";
    background-color: var(--gray-10);
    height: 2.5px;
    width: 100%;
    position: absolute;
    left: 0;
}
.menu__btn-bar::before{
    top: -10px;
}
.menu__btn-bar::after{
    top: 10px;
}