.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu__btn {
    position: relative;
    height: auto;
    width: 30px;
    z-index: 2;
}

.menu__btn-bars,
.menu__btn-bars::before,
.menu__btn-bars::after{
    content: "";
    background-color: var(--gray-10);
    height: 2.5px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: 0.5s ease;
}
.menu__btn-bars::before{
    top: -10px;
}
.menu__btn-bars::after{
    top: 10px;
}


.menu__btn[aria-expanded="true"] .menu__btn-bars {
    background-color: var(--green-dark);
}
.menu__btn[aria-expanded="true"] .menu__btn-bars::before{
    transform: rotate(-135deg);
    top: 0;
}
.menu__btn[aria-expanded="true"] .menu__btn-bars::after{
    transform: rotate(135deg);
    top: 0;
}