.content__partenaire {
    gap: 50px !important;
    padding: 0;
}

.partenaire__liste {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}
.partenaire__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    img {
        width: 100%;
        height: auto !important;
        border-radius: 10px;
    }
}
