.prog__slider .slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    border-top: solid 2px var(--green-dark);
    border-bottom: solid 2px var(--green-dark);
}

.prog__slider .slider__item-img {
    background-color: var(--green-light);
    padding: 10px;
    border-radius: 20px;
}
.prog__slider .slider__item-img img{
    border-radius: 10px;
}