.slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slider__item-img {
    scroll-snap-align: center;
    display: flex;
    gap: 10px;
}