.slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slider__item {
    width: 100%;
}

.slider__item-img {
    scroll-snap-align: center;
    display: flex;
    gap: 10px;
}

.slider__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;

    button {
        height: 32px;

        img{
            height: 32px;
        }
    }
}